.studyContainer {
  height: 70vh;
  background-image: url('../../../public/Footsteps.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.study {
  margin-left: 17%;
  padding: 2.5%;
}

.study-card {
  width: 50%;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 18px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.study-card h3 {
  color: aliceblue;
}

@media (max-width: 767px) {
  .study-mobile {
    margin-top: 40%;
  }
  .study {
    width: 90%;
    margin: 0;
    padding: 2.5%;
  }
  .study-card {
    width: 90%;
    /* padding: 1rem; */
    border-radius: 18px;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  }
}
