.sidenav {
  z-index: 100;
  background-color: rgba(12, 12, 12, 0.9);
  width: 17%;
  height: 100%;
  position: fixed;
}

.logo {
  margin: 10% 15%;
}

.logo img {
  width: 100%;
}

.routerLink {
  list-style-type: none;
  margin: 2rem 0;
}
.routerLink:hover {
  cursor: pointer;
}

.routerLink a {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  color: aliceblue;
}

.routerLink a:hover {
  color: #1dcdcd;
}



@media (max-width: 767px) {
  .sidenav {
    z-index: 100;
    background-color: rgba(12, 12, 12, 0.9);
    width: 100vw;
    height: 17.5vh;
    display: flex;
    align-items: center;
  }

  .logoContainer {
    width: 50%;
  }
  .sidenav nav {
    width: 100%;
  }
  .logo {
    margin: 0% 10%;
  }

  .logo img {
    width: 100%;
  }

  .routerLink {
    list-style-type: none;
    margin: 1rem 0;
  }
  .routerLink a {
    width: 100%;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: aliceblue;
  }
}
