.sessionContainer {
  background-image: url('../../../public/Footsteps.jpg');
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.sessionBookingForm {
  margin-left: 17%;
  height: 100%;
  justify-content: center;
  display: flex;
}

@media (max-width: 767px) {
  .sessionBookingForm {
    margin: 0;
  }
}
