.kmi-Main {
  height: 100%;
  width: 100%;
  background-image: url('../../../public/PeacefulMoon.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}

.kmi-MainContainer {
  padding: 0% 2.5%;
  padding-top: 2.5%;
  margin-left: 17%;
  position: absolute;
}

.kmi-cardsContainer {
  display: flex;
}

.kmi-MainTitle {
  font-size: xxx-large;
  font-weight: bolder;
  font-family: 'Raleway', sans-serif;
  margin-right: 2rem;
  text-align: center;
}

.kmi-Card {
  width: 50%;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 18px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.kmi-Card h3 {
  color: aliceblue;
}

.kmi-InShort {
  display: flex;
  align-items: center;
  width: 100%;
}

.kmi-InShort h1 {
  font-family: 'Raleway', sans-serif;
}
.kmi-InShort h3 {
  padding: 0 2.5rem;
}

.kmi-MainContainer .bookASession {
  margin: 2rem 0;
  display: flex;
}

.cta {
  --btn-color: aliceblue;
  padding: 16px 32px;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 1;
  color: black;
  background: none;
  border: none;
  outline: none;
  overflow: hidden;
  cursor: pointer;
  filter: drop-shadow(0 2px 8px rgba(39, 94, 254, 0.32));
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  margin: 0% 5%;
  text-align: center;
  text-decoration: none;
}
.cta::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: var(--btn-color);
  border-radius: 24px;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.cta:hover {
  cursor: pointer;
}

.cta:hover::before {
  background: #1dcdcd;
  border-radius: 24px;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

@media (max-width: 767px) {
  .kmi-Main {
    min-height: 150%;
  }
  .kmi-MainContainer {
    padding: 0% 2.5%;
    padding-top: 2.5%;
    margin: 0 2.5%;
    position: absolute;
  }
  .kmi-InShort h1 {
    padding: 0 2.5rem;
    text-align: center;
  }
  .kmi-InShort h3 {
    padding: 0 2.5rem;
    text-align: center;
  }
  .kmi-cardsContainer {
    display: flex;
    flex-direction: column;
  }
  .kmi-Card {
    width: 90%;
    padding: 1rem;
    border-radius: 18px;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  }
  .bookASession .cta {
    width: 90%;
  }
}

.contactDetailsContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: larger;
  font-weight: 500;
}
