.home {
  width: 100%;
  height: 100vh;
}

.homeMainImage {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../../../public/Footsteps.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.learnMore {
  background: rgba(0, 0, 0, 0);
  border: none;
  text-align: center;
  width: 100%;
  font-size: x-large;
  font-weight: 600;
  margin-bottom: 3rem;
  bottom: 0;
  position: absolute;
  height: 2.5%;
  z-index: 10;
  cursor: pointer;
  color: aliceblue;
}

.learnMore::after {
  content: '';
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  height: 5rem;
  display: block;
  position: relative;
  bottom: 1rem;
  z-index: -1;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.learnMore:hover::after {
  background: linear-gradient(
    180deg,
    rgba(29, 205, 205, 0) 0%,
    rgba(29, 205, 205, 0.5) 50%,
    rgba(29, 205, 205, 0) 100%
  );
}

.homeInformation {
  width: 30%;
  z-index: 10;
  display: block;
  position: absolute;
  text-align: center;
  right: 5%;
  top: 35%;
}

.homeInformation .homeHeadings .homeTitle {
  font-size: xxx-large;
  font-weight: bolder;
  font-family: 'Raleway', sans-serif;
}
.homeInformation .homeHeadings .homeDescription {
  font-size: medium;
}

.homeInformation .extraInfo {
  display: flex;
  justify-content: center;
}

.extraInfo .cta {
  --btn-color: aliceblue;
  padding: 16px 32px;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 1;
  color: black;
  background: none;
  border: none;
  outline: none;
  overflow: hidden;
  cursor: pointer;
  filter: drop-shadow(0 2px 8px rgba(39, 94, 254, 0.32));
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  margin: 0% 5%;
  text-decoration: none;
  text-align: center;
}
.extraInfo .cta::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: var(--btn-color);
  border-radius: 24px;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.extraInfo .cta:hover {
  cursor: pointer;
}

.extraInfo .cta:hover::before {
  background: #1dcdcd;
  border-radius: 24px;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.kinesiologyMoreInfo {
  height: 150vh;
}

@media (max-width: 767px) {
  
  .homeInformation {
    width: 100%;
    z-index: 10;
    display: block;
    position: absolute;
    text-align: center;
    right: 40%;
    bottom: 0;
    left: 0%;
    margin: 0 auto;
  }
}
