/* .contactContainer {
  background-image: url('../../../public/Footsteps.jpg');
  background-size: cover;
  width: 100vw;
  height: 100vh;
} */

.contact {
  margin-left: 17%;
  height: 100%;
  justify-content: center;
  display: flex;
}

@media (max-width: 767px) {
  .contact {
    margin: 0;
  }
}
