.footerContainer {
  display: flex;

  background-color: black;
  margin-left: 0;
  padding: 0;
}

.footer {
  margin-left: 17%;
  padding: 0 2.5%;
}

.map {
  padding: 1% 2.5%;
  margin-top: 1.5%;
}
.whatsAppImg {
  width: 30%;
}

@media (max-width: 767px) {
  .map {
    margin-top: 5%;
    padding: 1% 2.5%;
  }
  .footer {
    margin-left: 1rem;
  }
  .whatsAppImg {
    width: 70%;
  }
}
