@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Raleway:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Indie Flower', cursive;
  color: aliceblue;
}

.sidenavContainer {
  z-index: 100;
  position: fixed;
}
